@import url('https://fonts.googleapis.com/css2?family=Lato&family=Raleway:wght@400;500;600;700;900&display=swap');

* {
    margin: 0;
    box-sizing: border-box;
}
body {
    position: relative;
    height: 100vh;
}

$brand-dark: #0e0727;
$brand-dark-medium: #221c3a;
$brand-light: #a59fb8;
$brand-accent: #42B98B;
$animation: cubic-bezier(.71, -0.26, .29, 1.27);

$brand-title: 'Raleway',
sans-serif;
$brand-text: 'Lato',
sans-serif;
//Buttons
.checkbox,
.radio {
    position: relative;
    min-height: 50px;
    display: flex;

    input {
        position: absolute;
        opacity: 0;
        top: 0;
        left: 0;
        width: 24px;
        height: 24px;
        display: block;
        padding: 0;
        z-index: 10;
        pointer-events: none;
    }

    label {
        display: block;
        padding-left: 40px;
        line-height: 24px;
        user-select: none;
        cursor: pointer;
        font-family: $brand-text;
        font-weight: 600;
        letter-spacing: 1px;
        font-size: 16px;

        &:before {
            content: "✓";
            display: flex;
            width: 24px;
            height: 24px;
            line-height: 0;
            justify-content: center;
            align-items: center;
            border-radius: 4px;
            position: absolute;
            left: 2px;
            background: $brand-dark-medium;
            box-shadow: 0px 0px 0px 2px $brand-light;
            transition: all 0.15s $animation;
            color: $brand-accent;
            font-size: 0;
        }

        &:after {
            content: "";
            display: flex;
            width: 24px;
            height: 24px;
            justify-content: center;
            align-items: center;
            border-radius: 4px;
            position: absolute;
            left: 2px;
            top: 0;
            background: $brand-light;
            opacity: 0;
        }

        &:before,
        &:after {
            cursor: pointer;
        }
    }

    input:checked+label {
        color: $brand-accent;
    }

    input:checked+label:before,
    label.checked:before {
        font-size: 12px;
        box-shadow: 0px 0px 0px 4px $brand-accent;
    }

    input:checked+label:after,
    label.checked:after {
        animation: pulse 0.35s linear;
    }
}


.radio {

    label {

        &:before,
        &:after {
            border-radius: 24px;
        }

        &:before {
            content: "";
        }
    }

    input:checked+label:before,
    label.checked:before {
        box-shadow: 0px 0px 0px 4px $brand-accent,
        inset 0px 0px 0px 6px $brand-dark-medium,
        inset 0px 0px 0px 20px $brand-accent;
        font-size: 22px;
    }
}

.form-content::-webkit-scrollbar {
    display: none;
}

@keyframes pulse {
    0% {
        transform: scale(1);
        opacity: 0;
    }

    40% {
        transform: scale(1.4);
        opacity: 0.4;
    }

    100% {
        transform: scale(2);
        opacity: 0;
    }
}

.leaflet-container{
    background: #333333 url("@/../images/grid.png") repeat;
    background-size: 100px 100px;
    &.day{
        background-image: url("@/../images/grid-light.png");
    }
}


$loaderWidth: 500px;
$loaderContentWidth: 500px;
.loader {
    position: fixed;
    display: grid;
    grid-template-columns: $loaderWidth;
    top: 0;
    left: 50%;
    transform: translateX(-50%) scaleY(0);
    transform-origin: top center;
    overflow: hidden;
    transition: all 0.25s ease-in-out;

    &.visible {
        transform: translateX(-50%) scaleY(1);
    }

    #loaderShape {
        path {
            fill: $brand-dark;
        }
    }

    &-content {
        position: absolute;
        display: grid;
        grid-template-columns: $loaderContentWidth;
        grid-gap: 0px;
        align-items: center;
        justify-items: center;
        align-self: center;
        top: 10%;
        bottom: 15%;
        left: 50%;
        transform: translateX(-50%);
        color: $brand-light;
        padding: 10px 0 0 0;
    }
    &-text {
        font-family: $brand-title;
        text-transform: uppercase;
        font-size: 12px;
        line-height: 12px;
        font-weight: 900;
        letter-spacing: 2px;
        text-align: center;
        user-select: none;
    }

    &-percent {
        font-family: $brand-text;
        font-size: 12px;
        position: absolute;
    }

    &-spinner {
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

.sk-cube-grid {
    width: 40px;
    height: 40px;
    border-radius: 44px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 2px;

    .sk-cube {
        width: 100%;
        height: 100%;
        border-radius: 2px;

        background-color: $brand-accent;
        animation: sk-cubeGridScaleDelay 1.3s infinite linear;
    }

    .sk-cube1 {background-color: $brand-light; animation-delay: 0.15s; }
    .sk-cube2 {background-color: $brand-accent;animation-delay: 0.25s; }
    .sk-cube3 {background-color: $brand-light;animation-delay: 0.35s; }
    .sk-cube4 {background-color: $brand-accent;animation-delay: 0.05s; }
    .sk-cube5 {background-color: $brand-light;animation-delay: 0.15s; }
    .sk-cube6 {background-color: $brand-accent;animation-delay: 0.25s; }
    .sk-cube7 {background-color: $brand-light;animation-delay: 0s; }
    .sk-cube8 {background-color: $brand-accent;animation-delay: 0.05s; }
    .sk-cube9 {background-color: $brand-light;animation-delay: 0.15s; }
}

@-webkit-keyframes sk-cubeGridScaleDelay {
    0%, 70%, 100% {
        -webkit-transform: scale3D(1, 1, 1);
        transform: scale3D(1, 1, 1);
    } 35% {
          -webkit-transform: scale3D(0, 0, 1);
          transform: scale3D(0, 0, 1);
      }
}

@keyframes sk-cubeGridScaleDelay {
    0%, 70%, 100% {
        -webkit-transform: scale3D(1, 1, 1);
        transform: scale3D(1, 1, 1);
    } 35% {
          -webkit-transform: scale3D(0, 0, 1);
          transform: scale3D(0, 0, 1);
      }
}
