@use "sass:math";
$brand-dark: #0e0727;
$brand-dark-medium: #221c3a;
$brand-light: #a59fb8;
$brand-accent: #42B98B;

$brand-title: 'Raleway',
sans-serif;
$brand-text: 'Lato',
sans-serif;

$sidebar-width: 400px;
$animation: cubic-bezier(.71, -0.26, .29, 1.27);
$sidebar-padding: 30px;

$toggler-width: 44px;
$toggler-right-offset: $toggler-width - 2;
$toggler-height: 400px;
$toggler-dot-size: 8px;
$dot-offset: $toggler-dot-size * 1.5;

#sidebar {
    background: $brand-dark;
    width: 5px;
    height: 100vh;
    position: fixed;
    z-index: 999;
    transition: width 0.25s $animation;
    box-shadow: 5px 0px 25px 0px rgba(0, 0, 0, 0.3);
    top: 0;
    &.opened {
        width: $sidebar-width;
    }
}

.sidebar-content {
    position: relative;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    overflow: hidden;


    &-inner {
        min-width: $sidebar-width;
        height: 100%;
    }
}

#form {
    color: $brand-light;
    height: 100%;

    .form {
        display: flex;

        &-content {
            flex-direction: column;
            height: calc(100% - 100px);
            overflow-y: auto;
            width: calc(#{$sidebar-width} + 20px);
            padding: $sidebar-padding calc(#{$sidebar-padding} + 20px) $sidebar-padding $sidebar-padding;
        }

        &-category {

            padding-bottom: 30px;
            margin-bottom: 60px;

            &-title {
                color: $brand-light;
                font-size: 18px;
                font-family: $brand-title;
                font-weight: 900;
                text-transform: uppercase;
                letter-spacing: 3px;
                margin-bottom: 30px;
            }

            &-content {
                display: flex;
                justify-content: space-between;
                button {
                    &#markerDelete{
                        background: #DB4848;
                        border: 3px solid #DB4848;
                    }
                    &#markerConfirm{
                        background: $brand-accent;
                        border: 3px solid $brand-accent;
                    }
                    padding: 18px 30px;
                    border-radius: 12px;
                    color: $brand-dark;
                    font-family: $brand-title;
                    text-transform: uppercase;
                    letter-spacing: 3px;
                    font-weight: 900;
                    font-size: 18px;
                    cursor: pointer;
                    box-shadow: 0px 0px 0px 0px rgba($brand-accent, 0);
                    transition: all 0.5s $animation;

                    &:hover {
                        &#markerDelete{
                            box-shadow: 0px 0px 0px 6px rgba(#DB4848, 0.3);
                        }
                        &#markerConfirm{
                            box-shadow: 0px 0px 0px 6px rgba($brand-accent, 0.3);
                        }
                    }
                }
            }
        }

        &-action {
            height: 100px;
            display: flex;
            justify-content: center;
            align-items: center;
            padding: $sidebar-padding;

            .reset-filters {
                width: 100%;
                background: $brand-light;
                border: 3px solid $brand-light;
                padding: 18px 30px;
                border-radius: 12px;
                color: $brand-dark;
                font-family: $brand-title;
                text-transform: uppercase;
                letter-spacing: 3px;
                font-weight: 900;
                font-size: 18px;
                cursor: pointer;
                box-shadow: 0px 0px 0px 0px rgba($brand-light, 0);
                transition: all 0.5s $animation;

                &:hover {
                    box-shadow: 0px 0px 0px 6px rgba($brand-light, 0.3);
                }
            }
        }
    }
}
